*{
    box-sizing: border-box;
}

#box{
    height:600px;
    width:400px;
    background-color: lightgray;
    border-radius: 5px;
    padding:2px;
}
form{
    padding:10px;
    text-align: right;
    font-size: 18pt;
    font-weight: bold;
    font-family: sans-serif;
}

input, textarea{
    font-size:14pt;

}
#Send{
    background-color:blue;
    color:white; 
    padding:10px;
    border: none;
}
textarea{
    width:375px;
    height:300px;
    
}