*{
    box-sizing: border-box;
}

header{
    background-color: #808080;
    padding: 25px;
    width:3000px;
    height:100px; 
    
}

body{
    background-image:linear-gradient(to bottom,white,orange);
    background-repeat: no-repeat;
    padding:10px;
    width:400px;
    height:1000px;
    
}
