/*Got popup contact form idea/code from: https://www.formget.com/how-to-create-pop-up-contact-form-using-javascript/*/


main{
    color:white;
    font-family: sans-serif;
    font-size: 20pt;
    padding:15px;
    line-height: 45px;

}

#abc {
    width:100%;
    height:100%;
    opacity:.95;
    top:0;
    left:0;
    display:none;
    position:fixed;
    background-color:#313131;
    overflow:auto;
}
img#close {
    position:absolute;
    right:-14px;
    top:-14px;
    cursor:pointer;
    height:40pt;
}
div#popupContact {
    position:absolute;
    left:50%;
    top:17%;
    margin-left:-202px;
    font-family:sans-serif;
}
form {
    max-width:400px;
    min-width:250px;
    padding:10px 50px;
    border:2px solid gray;
    border-radius:10px;
    font-family:raleway;
    background-color:#fff;
}
p {
    margin-top:30px;
}

hr {
    margin:10px -50px;
    border:0;
    border-top:1px solid #ccc;
}
input[type=text] {
    width:82%;
    padding:10px;
    margin-top:30px;
    border:1px solid #ccc;
    padding-left:40px;
    font-size:16px;
    font-family:sans-serif;
}
#name {
    background-image:url(../images/name.jpg);
    background-repeat:no-repeat;
    background-position:5px 7px;
}
#email {
    background-image:url(../images/email.png);
    background-repeat:no-repeat;
    background-position:5px 7px;
}
textarea {
    background-image:url(../images/msg.png);
    background-repeat:no-repeat;
    background-position:5px 7px;
    width:100%;
    height:95px;
    padding:10px;
    resize:none;
    margin-top:30px;
    border:1px solid #ccc;
    padding-left:40px;
    font-size:16px;
    font-family:sans-serif;
    margin-bottom:30px;
}
#submit {
    text-decoration:none;
    width:100%;
    text-align:center;
    display:block;
    background-color:red;
    color:#fff;
    border:1px solid black;
    padding:10px 0;
    font-size:20px;
    cursor:pointer;
    border-radius:5px;
}
span {
    color:red;
    font-weight:700
}
button {
    width:10%;
    height:45px;
    border-radius:3px;
    background-color:red;
    color:#fff;
    font-family:sans-serif;
    font-size:18px;
    cursor:pointer;
   
}
    
