*{
    box-sizing: border-box;
}

#embed{
    text-align:center;
    padding:20px;
    margin:0px;
}
#embed2{
    text-align:center;
    padding:20px;
    margin:0px;
    
}
h3{
    color:white;
    font-size:18pt;
    text-align: center;
    font-family: sans-serif;
    padding:30px;
}