body {
    background-color: #598AB2;
    width: 800px;
    img width:600px;
    margin: auto;
  
}
h1 {
    color: #EE726B;
}
h2 {
    color: #FFDC6D;
}
h3{
    color: #F95D33;
}
p{
    color: #FFFFFF;
    font-style: italic;
    
}