#headshot{
   position:absolute;
   right:10px;
   text-align: center;
}

p{
    color:white;
    font-family: sans-serif;
    padding:30px;
    height:1000px;
    width:400px;
    line-height: 1.2;
    
}