#headshot{
   position:absolute;
   right:10px;
   text-align: center;
}

p{
    background:rgba(255,255,255, 0.5);
    color:black;
    font-family:sans-serif;
    font-weight:bolder;
    padding:20px;
    margin:20px;
    height:1000px;
    width:500px;
    line-height:1.5;
    font-weight:100;
    position:relative;
    
    
}
