main{
    color:white;
    font-family:sans-serif;
    text-align:left;
    line-height:2;
    
    
}
body{
    background-image: url(background.jpg);
    background-repeat: repeat;
}
h3{
    color:white;
    font-size: 14pt;
    background-color: black;
    padding:2px;
    
}