main{
    color:black;
    font-family:sans-serif;
    text-align:left;
    line-height:2;
    padding:5px;
    
    
}
body{
    background-image: url(background.jpg);
    background-repeat: repeat;
    height:5100px;
}
h3{
    color:white;
    font-size: 14pt;
    background-color: black;
    padding:2px;
    
}
p{
background-color: #fff;
background-color: rgba(255,255,255,0.5);
padding-top: 5px;
padding-bottom: 5px;
padding-left: 5px;
}