#headshot{
   right:10px;
   text-align: center;
   padding:5px;
   margin-top:73px;
   padding-left:5px;
   max-width:100%;
   height: auto;
   position: absolute;
}

p{
    background-color: #fff;
    background-color: rgba(255,255,255,0.5);
    font-family: sans-serif;
    color:black;
    font-weight: bolder;
    padding:20px;
    margin-top:73px;
    height:1000px;
    width:500px;
    line-height:1.5;
    position:absolute;
    left:10px;
    
    
    
}
@media screen and (max-width: 945px){
 #headshot{
    max-width: 100%;
	height: auto;
    position: static;
     margin-top:80px;
 
        
    }
p{
    width:100%;
    padding-right:10px;
    position:static;
    margin-top: 20px;
    }
}
