*{
    box-sizing: border-box;
}
html{
    margin:0px;
    padding:0px;
    height:100%
    
}
header{
    background-color: black;
    
    
}
h1{
    background-color: black;
    color:white;
    font-size:30pt;
    font-family:sans-serif;
    font-weight: bold;
    text-align:left;
    padding:5px;
    height:40px
    
}
h2{

    font-size: 18pt;
    font-weight:normal;
    
}
nav{
   height: 40px;
   background-color: black;
   position: relative;
   padding:2px;
   
}
nav ul ul{
    position: absolute;
    background-color: black;
    padding:0; 
    text-align: left;
    display:none;
    z-index:1;
    
}
nav ul li:hover ul{
    display: block;
    
}
nav ul ul li{
    border:1px solid #000000;
    display:block; 
    width: 10em;
    padding-left: 1em; 
    margin-left: 0;
    float:none;
}

body{
    position:relative;
    height:auto;
    background-image:url(../images/background.jpg);
    margin:0px;
    padding:0px;
    padding-bottom:60px;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}
li {
    float: left;
    list-style: none;
}




a, nav ul li div {
    display: block;
    padding: 8px;
    background-color: black;
    text-decoration: none;
    color:white;
    font-family: sans-serif;
    font-size: 14pt;
}

a:hover, nav ul li div:hover{
    color:red; 
}  


footer{
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    color:white;
    font-family: sans-serif;
    font-size: 8pt;
    padding: 28px 0 14px;
    height:40px;
    right: 0;
    bottom: 0;
    left:0;
    width:100%;
   
    
}

@media screen and (max-width: 750px){
   
header{
        font-size: 25pt;
        padding:2px;
        text-align: center;
        }
h1{
    text-align: center;   
    }
h2{
    font-size:15pt;
    }

a, nav ul li div {
    font-size:12pt;
    padding-right: 21px;
    padding-left: 53px;
    
    
    }

#imagelist{
    text-align: center;
    display:inline;
    padding:22px;
    margin-right:50px;
    margin-left: 90px;
    }
    
nav ul ul{
    position: absolute;
    background-color: black;
    padding:0; 
    text-align: left;
    display:none;
    z-index:1;
    
}
a:hover, nav ul li div:hover{
    color:red; 
}  

    
    

}
