.square{
    width: 100px;
    height: 100px;
    background-color: orange;
    border-width: thick;
    border-style: inherit;
    border-color: transparent;
    display: inline-block
}

#highlighted{
    border-color: black;
    
}